propel:
  database:
      connections:
          phenomenal:
              adapter: mysql
              classname: Propel\Runtime\Connection\ConnectionWrapper
              dsn: "mysql:host=localhost;dbname=phenomenal"
              user: <MYSQL_USER>
              password: <MYSQL_PASSWORD>
              attributes:
  runtime:
      defaultConnection: phenomenal
      connections:
          - phenomenal
  generator:
      defaultConnection: phenomenal
      connections:
          - phenomenal